/* */
*{
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
#cabecalho{
    width: 100%;
    background-color: #fafafa;
    display: flex;
}
#logo-tipo img{
    height: 80px;
}

/**/

/* Banner - slider */
#banner{
    width: 100%;
    margin-top: 5px;
    
}
#banner img{
    width: 100%;
}

/* Menu e lista do cabecalho*/
#menu{
    width: 100%;
    list-style: none;
    border: 0px solid #ca6464;
    float: left;
}
#menu, ul li{
    padding-left: 100px;
    
}
#menu li{
    position: relative;
    float: left;
    border-right: 1px solid #fffafa;
}

#menu li a{
    color: #333;
    text-decoration: none;
    padding: 2px;
    display: flex;
    
}
#menu li a:hover{
    background-color: #dfae0d;
    color: #0000ff;
    text-shadow: 0px 0px 5px #fff;
    padding-left: 10px;
}

#menu li:hover ul, #menu li.over ul{
    display: block;
    top: 50px;
 
}

/* projetando o submenu*/
#menu li ul{
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fdfdfd;
    display: none;
    z-index: 2;
}

#menu li ul li{
    position: relative;
    border: 0px solid #afa0a0;
    display: block;
    width: 200px;
    padding-left: 45px;
}


/* ul{padding} distcância entre o logo e o menu*/
li{
    display: inline-block;
    top: 2px;
    
}

ul #home a{
    color: #0000ff;
}

a{
    color: #720d0d;
    transition: all 1s;
    margin: 15px; /* distância entre os menus*/
    padding-bottom: 6px;
}
/* fim do menu e lista */

/* banner e intro*/
main{
    background-color: #dcf8fa;
}

#intro{
    
}
#intro p{
    padding: 10px;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}


/* manipulando a apresentação */
#apresentacao{
    padding-top: 80px;
    padding-left: 20px;
}
#apresentacao h1{
    color: #ee0b0b;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
#apresentacao h2{
    color: #0000ff;
    font-size: 28px;
    padding-left: 30px;

}
/* area de manipulação da area apresentação dos canais.*/
.portal{
    display: flex;
    padding-left: 30px;
}
.portal img{
    height: 60px;
}
.area-conteudo{
    padding-left: 35px;
}

/* Formulário*/
.formulario{
     background-color: #7171ce;
    border-radius: 8px 8px 8px 8px;
    
    
}
#form{
    padding: 10px;
    text-align: justify;
    font-size: larger;
    
}
legend{
    text-align: center;
    color: #720707;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

fieldset{
    
}
input{
    margin: 10px;
    
    
}




/* footer*/
footer p{
    padding: 30px;
    text-align: center;
    background-color: #61595a;
    color: #f1f1f5;
    font-size: 14px;
    font-family: serif;
}

.area-vazia{
    width: 100%;
    background-color: #0000ff;
}