/* */
*{
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
#cabecalho{
    width: 100%;
    background-color: #fafafa;
    display: flex;
}
#logo-tipo img{
    height: 80px;
}

/**/

/* Banner - slider */
#banner{
    width: 100%;
    
}

#banner img{
    margin-top: 30px;
    width: 100%;
    border-radius: 60px 0px 60px 0px;
    height: 600px;
    object-fit: scale-down;
    display: flexbox;
    
}

/* area curso e geral*/
#area-curso{
    display: flex;
}



/* Menu e lista do cabecalho*/
#menu{
    width: 100%;
    list-style: none;
    border: 0px solid #ca6464;
    float: left;
    z-index: 2px;
}
#menu, ul li{
    padding-left: 40px;
    z-index: 2px;
    
    
}
#menu li{
    position: relative;
    float: left;
    border-right: 0px solid #fffafa;
}

#menu li a{
    color: #333;
    text-decoration: none;
    padding: 5px 20px;
    display: flex;
    
}
#menu li a:hover{
    background-color: #dfae0d;
    color: #0000ff;
    text-shadow: 0px 0px 5px #fff;
}

#menu li:hover ul, #menu li.over ul{
    display: block;
    top: 50px;
 
}

/* projetando o submenu*/
#menu li ul{
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fdfdfd;
    display: none;
    z-index: 2;
}

#menu li ul li{
    position: relative;
    border: 0px solid #afa0a0;
    display: block;
    width: 200px;
    padding-left: 5px;
}


/* ul{padding} distcância entre o logo e o menu*/
li{
    display: inline-block;
    top: 2px;
    
}

ul #home a{
    color: #0000ff;
}

a{
    color: #720d0d;
    transition: all 1s;
    margin: 15px; /* distância entre os menus*/
    padding-bottom: 6px;
}
/* fim do menu e lista */

/* banner e intro*/
main{
    
}

#banner img{
    height: 200px;
}


/* manipulando a apresentação */
#apresentacao{
    padding-top: 80px;
    padding-left: 20px;
}
#apresentacao h1{
    color: #ee0b0b;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
#apresentacao h2{
    color: #0000ff;
    font-size: 28px;
    padding-left: 30px;

}
/* area de manipulação da area apresentação dos canais.*/
.portal{
    display: flex;
    padding-left: 30px;
}
.portal img{
    height: 60px;
}
.area-conteudo{
    padding-left: 35px;
}

/* Formulário*/
legend{
    text-align: center;
}

fieldset{
    background-color: #7171ce;
    border-radius: 8px 8px 8px 8px;
    
}
input{
    margin: 10px;
    size: 50px;
}




/* footer*/
footer p{
    text-align: center;
    background-color: rgb(247, 104, 133);
    color: #0000ff;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.area-vazia{
    width: 100%;
    background-color: #0000ff;
}