*{
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
#cabecalho{
    width: 100%;
    background-color: #fafafa;
    display: flex;
}
#logo-tipo img{
    height: 80px;
}


/* Menu e lista do cabecalho*/
#menu{
    width: 100%;
    list-style: none;
    border: 0px solid #ca6464;
    float: left;
}
#menu, ul li{
    padding-left: 100px;
    
}
#menu li{
    position: relative;
    float: left;
    border-right: 1px solid #fffafa;
}

#menu li a{
    color: #333;
    text-decoration: none;
    padding: 2px;
    display: flex;
    
}
#menu li a:hover{
    background-color: #dfae0d;
    color: #0000ff;
    text-shadow: 0px 0px 5px #fff;
    padding-left: 10px;
}

#menu li:hover ul, #menu li.over ul{
    display: block;
    top: 50px;
 
}

/* projetando o submenu*/
#menu li ul{
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fdfdfd;
    display: none;
    z-index: 2;
}

#menu li ul li{
    position: relative;
    border: 0px solid #afa0a0;
    display: block;
    width: 200px;
    padding-left: 45px;
}


/* ul{padding} distcância entre o logo e o menu*/
li{
    display: inline-block;
    top: 2px;
    
}

ul #home a{
    color: #0000ff;
}

a{
    color: #720d0d;
    transition: all 1s;
    margin: 15px; /* distância entre os menus*/
    padding-bottom: 6px;
}
/* fim do menu e lista */

/* estelizando o main*/
#intro h1{
    color: #0000ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    margin: 40px;
}



/* footer*/
footer p{
    padding: 30px;
    text-align: center;
    background-color: #61595a;
    color: #f1f1f5;
    font-size: 14px;
    font-family: serif;
}

.area-vazia{
    width: 100%;
    background-color: #0000ff;
}