/* */
*{
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
#cabecalho{
    width: 100%;
    background-color: #fafafa;
    display: flex;
}
#logo-tipo img{
    height: 50px;
}

/**/

/* Banner - slider */
#banner{
    width:100%;
    
}

#banner img{
    margin-top: 1px;
    width: 100%;
    border-radius: 60px 0px 60px 0px;
    height:
    object-fit: scale-down;
    display: flexbox;
    
}

/* area curso e geral*/
#area-curso{
    display: flex;
}



/* Menu e lista do cabecalho*/
#menu{
    width: 100%;
    list-style: none;
    border: 0px solid #fffafa;
    float: left;
}
#menu, ul li{
    padding-left: 100px;
    
}
#menu li{
    position: relative;
    float: left;
    border-right: 1px solid #fffafa;
}

#menu li a{
    color: #333;
    text-decoration: none;
    padding: 2px;
    display: flex;
    
}
#menu li a:hover{
    background-color: #dfae0d;
    color: #0db4ca;
    text-shadow: 0px 0px 5px #fff;
    padding-left: 10px;
}

#menu li:hover ul, #menu li.over ul{
    display: block;
    top: 50px;
 
}

/* projetando o submenu*/
#menu li ul{
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fdfdfd;
    display: none;
    z-index: 2;
}

#menu li ul li{
    position: relative;
    border: 0px solid #afa0a0;
    display: block;
    width: 200px;
    padding-left: 45px;
}


/* ul{padding} distcância entre o logo e o menu*/
li{
    display: inline-block;
    top: 2px;
    
}
ul{
    font-family: 'Courier New', Courier, monospace;
    font-size: large 10px;
}

ul #home a{
    color: #0db4ca;
}

a{
    color: #720d0d;
    transition: all 1s;
    margin: 15px; /* distância entre os menus*/
    padding-bottom: 6px;
}
/* fim do menu e lista */

main{
    margin-top: 70px;
    background-color: #fdf9f9;
    margin: 25px;
    border-radius: 10px;
    
}

main #intro h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#intro, h1{
    padding-top: 5px;
}

main #intro p{
    color: black;
    margin-left: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: larger;
    
}

/* area do curso */
#area-curso{
    width: 100%;
    
   
    display: flex;
   
}

#card-curso .card-curso{
    margin-left: px;
    
    margin-top: px;
}

#area-curso .card-curso img{
    width: 100%;
    border-radius: 30px;
    padding-right: 10px;
}

.card-curso .area-conteudo h1{
    color: black;
    text-align: center;
}

#area-cursos .card-curso .area-conteudo{
    margin:
}


/* footer*/
footer p{
    padding: 30px;
    text-align: center;
    background-color: #000000;
    color: #f1f1f5;
    font-size: 14px;
    font-family: serif;
}

.area-vazia{
    width: 100%;
    background-color: #3aee7f;
    height: 5px;
}